@import 'variables';
body {
    // padding-top: 50px;
    font-family: 微软雅黑;
}

.top-header{
    height:40px;
    line-height:40px;
    background:$dark-blue;
    &>div{
        max-width: $content-max-width;
        margin: 0 auto;
        padding:0px 10px;
        span{
            font-size:12px;
            color:#FFF;
            img{
                width:24px;
                margin-right:5px;
            }
            a{
                font-size:14px;
                font-style: italic;
                color:#FFF;
            }
        }
    }
}
.sangto-header{
    max-width: $content-max-width;
    margin: 0 auto;
    height:90px;
    .sangto-nav{
        float:right;
        font-size:16px;
        li{
            display:inline-block;
            margin:30px 5px 0px 5px;
            padding:5px 10px;
            cursor: pointer;
            a{
                color:$dark;
            }
            &.active{
                background:$warning;
                border-radius: 3px;
                a{
                    color:#FFF;
                    text-decoration: none;
                }
            }
            &:hover{
                background:$warning;
                border-radius: 3px;
                a{
                    color:#FFF;
                    text-decoration: none;
                    color:#FFF;
                }
            }
        }
    }
}

.sangto-categorys{
    position:absolute;
    top:110px;
    width:100%;
    background:rgba(#EBF3FE,1);
    z-index: 10;
    text-align:center;
    padding:10px 0px 30px 0px;
    display:none;
    &.show{
        display:none;
    }
    &>ul{
        display:inline-block;
        list-style: none;
        text-align:left;
        li{
            font-size:12px;
            border-bottom:1px solid #555;
            height:50px;
            line-height:50px;
            width:300px;
            box-sizing: border-box;
            padding-left:90px;
            font-weight: bold;
            letter-spacing: 2px;
            a{
                cursor: pointer;
                color:$dark;
                text-decoration: none;
                &:hover{
                    color:$primary;
                }
                &:before{
                    display:inline-block;
                    vertical-align: middle;
                    margin-right:5px;
                    content:'';
                    width:4px;
                    height:4px;
                    border-radius: 2px;
                    background:rgb(54,184,220);
                }
            }
            &:first-child{
                height:40px;
                padding-left:0px;
                padding-bottom: 0px;
                text-align:center;
                font-size:16px;
                color:#0372D8;
                font-weight: bold;
                border-bottom:none;
            }
        }
    }
}

.huge-banner {
    display: block;
    width: 100%;
}

.swiper-container .swiper-slide img {
    max-width: 100%;
}

.plate-category {
    width: 100%;
    height: 40px;
    background: $light-yellow;
    div {
        max-width: $content-max-width;
        margin: 0 auto;
        padding: 0px;
        font-size: 0px;
        a {
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            padding: 0px 10px;
            font-size: 14px;
            color: $stable;
            &:hover {
                background: lighten($warning, 10%);
                color: #FFF;
            }
            &.active {
                background: $warning;
                color: #FFF;
            }
        }
        span{
            line-height: 40px;
            font-size: 14px;
            color: $stable;
        }
    }
}

.plate-breadcrumb {
    width: 100%;
    height: 40px;
    background: $light-yellow;
    overflow: hidden;
    ul {
        max-width: $content-max-width;
        margin: 0 auto;
        padding: 0px 10px;
        li {
            display: inline-block;
            line-height: 40px;
            color: $dark;
            &:not(:last-child) {
                cursor: pointer;
                &:after {
                    content: '>';
                    padding: 0px 2px;
                }
                &:hover {
                    color: $primary;
                    &:after {
                        color: $dark;
                    }
                }
            }
        }
    }
}

// foot category
.foot-category {
    margin-top: 20px;
    padding: 30px 0px;
    background: $light-purple;
    &>.row {
        margin: 0px auto;
        max-width: $content-max-width;
        ul {
            li {
                list-style: none;
                font-size: 12px;
                padding: 5px 0px;
                &:first-child {
                    font-size: 14px;
                    font-weight: bold;
                }
                a{
                    color:$stable;
                }
            }
        }
    }
}

// copyright
.copyright {
    height: 30px;
    line-height: 30px;
    background: $light-purple;
    text-align: center;
    overflow: hidden;
    &>div{
        margin: 0px auto;
        max-width: $content-max-width;
        border-top:1px solid #FFF;
    }
}

.yy{
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
.yy:after , .yy:before{
    position: absolute;
    content: '';
    top: 50%;
    bottom: -1px;
    left: 10px;
   right: 10px;
    background:#fff;
    z-index: -1;
    /* 圆角水平为100px 垂直为10px 必须用‘/’分开 ，不可以为空格 */
    border-radius: 100px/10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
   -o-box-shadow: 0 0 20px rgba(0,0,0,0.3);
}