@import 'variables';
body {
    // padding-top: 50px;
    font-family: 微软雅黑;
}

.top-header{
    height:40px;
    line-height:40px;
    background:$dark-blue;
    &>div{
        max-width: $content-max-width;
        margin: 0 auto;
        padding:0px 10px;
        span{
            font-size:12px;
            color:#FFF;
            img{
                width:24px;
                margin-right:5px;
            }
            a{
                font-size:14px;
                font-style: italic;
                color:#FFF;
            }
        }
    }
}
.sangto-header{
    max-width: $content-max-width;
    margin: 0 auto;
    height:90px;
    .sangto-nav{
        float:right;
        font-size:16px;
        li{
            display:inline-block;
            margin:30px 5px 0px 5px;
            padding:5px 10px;
            cursor: pointer;
            a{
                color:$dark;
            }
            &.active{
                background:$warning;
                border-radius: 3px;
                a{
                    color:#FFF;
                    text-decoration: none;
                }
            }
            &:hover{
                background:$warning;
                border-radius: 3px;
                a{
                    color:#FFF;
                    text-decoration: none;
                    color:#FFF;
                }
            }
        }
    }
}

.huge-banner {
    display: block;
    width: 100%;
}

.swiper-container .swiper-slide img {
    max-width: 100%;
}

.plate-category {
    width: 100%;
    height: 40px;
    background: $light-yellow;
    div {
        max-width: $content-max-width;
        margin: 0 auto;
        padding: 0px;
        font-size: 0px;
        a {
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            padding: 0px 10px;
            font-size: 14px;
            color: $stable;
            &:hover {
                background: lighten($warning, 10%);
                color: #FFF;
            }
            &.active {
                background: $warning;
                color: #FFF;
            }
        }
        span{
            line-height: 40px;
            font-size: 14px;
            color: $stable;
        }
    }
}

.plate-breadcrumb {
    width: 100%;
    height: 40px;
    background: $light-yellow;
    overflow: hidden;
    ul {
        max-width: $content-max-width;
        margin: 0 auto;
        padding: 0px 10px;
        li {
            display: inline-block;
            line-height: 40px;
            color: $dark;
            &:not(:last-child) {
                cursor: pointer;
                &:after {
                    content: '>';
                    padding: 0px 2px;
                }
                &:hover {
                    color: $primary;
                    &:after {
                        color: $dark;
                    }
                }
            }
        }
    }
}

// foot category
.foot-category {
    margin-top: 20px;
    padding: 30px 0px;
    background: $light-purple;
    &>.row {
        margin: 0px auto;
        max-width: $content-max-width;
        ul {
            li {
                list-style: none;
                font-size: 12px;
                padding: 5px 0px;
                &:first-child {
                    font-size: 14px;
                    font-weight: bold;
                }
                a{
                    color:$stable;
                }
            }
        }
    }
}

// copyright
.copyright {
    height: 30px;
    line-height: 30px;
    margin-top: 1px;
    background: $light-purple;
    text-align: center;
}