@import 'variables';
@import 'common';


.swiper-container {
    width: 100%;
}
.swiper-container .swiper-slide>img {
    width: 100%;
}
.banner-swiper{
    margin-bottom:30px;
}

.plate {
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0px auto;
    .plate-title {
        text-align: center;
        border-bottom: 2px solid #ccc;
        .main-title {
            width: 200px;
            font-size: 18px;
            padding: 5px 0px;
            color: #FFF;
            margin: 0px auto;
            background: $warning;
        }
        .sub-title {
            font-size: 26px;
            padding: 5px 0px;
            color: #bcbcbc;
        }
    }
}


/* swiper */
.index-swiper-container {
    position: relative;
    padding: 0px 30px;
    font-size: 0px;
    .swiper-outer-trigger {
        position: absolute;
        z-index: 10;
        top: 30%;
        cursor: pointer;
        &.prev{
            left: 0px;
            &:hover:before{
                color:$dark;
            }
            &:before{
                content: "\e257";
                font-family: 'Glyphicons Halflings';
                font-size:30px;
            }
        }
        &.next{
            right: 0px;
            &:hover:before{
                color:$dark;
            }
            &:before{
                content: "\e258";
                font-family: 'Glyphicons Halflings';
                font-size:30px;
            }
        }
    }
}


/* product */

.swiper-slide-product {
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    color: #898989;
    .img-box {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .product-title {
        padding: 5px 0px;
        margin-bottom: 5px;
        color: #454545;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
    }
}


/* case */

.case-container {
    margin: 0px auto;
    max-width: 900px;
    .case-item {
        text-align: center;
        padding: 10px;
        img {
            width: 80px;
            height: 80px;
            padding: 10px;
        }
        .case-title {
            color: #454545;
        }
        .sub-title {
            color: #ababab;
        }
    }
}


/* news */

.news-item {
    display: table;
    padding: 20px 40px;
    &>img {
        display: table-cell;
        vertical-align: top;
        width: 120px;
        height: 120px;
    }
    &>div {
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px;
        &>div {
            vertical-align: top;
            display: table;
            .news-date {
                display: table-cell;
                box-sizing: border-box;
                padding: 5px;
                width: 50px;
                height: 50px;
                background: $primary;
                color: #FFF;
                text-align: center;
                >div:last-child {
                    border-top: 1px solid #FFF;
                    padding-top: 5px;
                    font-size: 10px;
                }
            }
            .news-title {
                display: table-cell;
                padding: 0px 10px;
                color: $primary;
            }
        }
        .news-digest {
            padding: 5px;
            font-size: 12px;
        }
    }
}

// about us
.about-us {
    padding: 20px;
    background: $primary;
    color: #FFF;
    .title {
        text-align: center;
        font-size: 22px;
    }
    .content {
        margin: 0px auto;
        max-width: 1000px;
        font-size: 14px;
        padding: 10px;
        text-indent: 28px;
    }
}
