@charset "UTF-8";
body {
  font-family: 微软雅黑; }

.top-header {
  height: 40px;
  line-height: 40px;
  background: #003E8F; }
  .top-header > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px; }
    .top-header > div span {
      font-size: 12px;
      color: #FFF; }
      .top-header > div span img {
        width: 24px;
        margin-right: 5px; }
      .top-header > div span a {
        font-size: 14px;
        font-style: italic;
        color: #FFF; }

.sangto-header {
  max-width: 1200px;
  margin: 0 auto;
  height: 90px; }
  .sangto-header .sangto-nav {
    float: right;
    font-size: 16px; }
    .sangto-header .sangto-nav li {
      display: inline-block;
      margin: 30px 5px 0px 5px;
      padding: 5px 10px;
      cursor: pointer; }
      .sangto-header .sangto-nav li a {
        color: #464c5b; }
      .sangto-header .sangto-nav li.active {
        background: #FFC50A;
        border-radius: 3px; }
        .sangto-header .sangto-nav li.active a {
          color: #FFF;
          text-decoration: none; }
      .sangto-header .sangto-nav li:hover {
        background: #FFC50A;
        border-radius: 3px; }
        .sangto-header .sangto-nav li:hover a {
          color: #FFF;
          text-decoration: none;
          color: #FFF; }

.huge-banner {
  display: block;
  width: 100%; }

.swiper-container .swiper-slide img {
  max-width: 100%; }

.plate-category {
  width: 100%;
  height: 40px;
  background: #FDECB6; }
  .plate-category div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    font-size: 0px; }
    .plate-category div a {
      display: inline-block;
      line-height: 40px;
      cursor: pointer;
      padding: 0px 10px;
      font-size: 14px;
      color: #657180; }
      .plate-category div a:hover {
        background: #ffd13d;
        color: #FFF; }
      .plate-category div a.active {
        background: #FFC50A;
        color: #FFF; }
    .plate-category div span {
      line-height: 40px;
      font-size: 14px;
      color: #657180; }

.plate-breadcrumb {
  width: 100%;
  height: 40px;
  background: #FDECB6;
  overflow: hidden; }
  .plate-breadcrumb ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px; }
    .plate-breadcrumb ul li {
      display: inline-block;
      line-height: 40px;
      color: #464c5b; }
      .plate-breadcrumb ul li:not(:last-child) {
        cursor: pointer; }
        .plate-breadcrumb ul li:not(:last-child):after {
          content: '>';
          padding: 0px 2px; }
        .plate-breadcrumb ul li:not(:last-child):hover {
          color: #09c; }
          .plate-breadcrumb ul li:not(:last-child):hover:after {
            color: #464c5b; }

.foot-category {
  margin-top: 20px;
  padding: 30px 0px;
  background: #CAD9EC; }
  .foot-category > .row {
    margin: 0px auto;
    max-width: 1200px; }
    .foot-category > .row ul li {
      list-style: none;
      font-size: 12px;
      padding: 5px 0px; }
      .foot-category > .row ul li:first-child {
        font-size: 14px;
        font-weight: bold; }
      .foot-category > .row ul li a {
        color: #657180; }

.copyright {
  height: 30px;
  line-height: 30px;
  margin-top: 1px;
  background: #CAD9EC;
  text-align: center; }

.swiper-container {
  width: 100%; }

.swiper-container .swiper-slide > img {
  width: 100%; }

.banner-swiper {
  margin-bottom: 30px; }

.plate {
  padding-bottom: 30px;
  max-width: 1200px;
  margin: 0px auto; }
  .plate .plate-title {
    text-align: center;
    border-bottom: 2px solid #ccc; }
    .plate .plate-title .main-title {
      width: 200px;
      font-size: 18px;
      padding: 5px 0px;
      color: #FFF;
      margin: 0px auto;
      background: #FFC50A; }
    .plate .plate-title .sub-title {
      font-size: 26px;
      padding: 5px 0px;
      color: #bcbcbc; }

/* swiper */
.index-swiper-container {
  position: relative;
  padding: 0px 30px;
  font-size: 0px; }
  .index-swiper-container .swiper-outer-trigger {
    position: absolute;
    z-index: 10;
    top: 30%;
    cursor: pointer; }
    .index-swiper-container .swiper-outer-trigger.prev {
      left: 0px; }
      .index-swiper-container .swiper-outer-trigger.prev:hover:before {
        color: #464c5b; }
      .index-swiper-container .swiper-outer-trigger.prev:before {
        content: "\e257";
        font-family: 'Glyphicons Halflings';
        font-size: 30px; }
    .index-swiper-container .swiper-outer-trigger.next {
      right: 0px; }
      .index-swiper-container .swiper-outer-trigger.next:hover:before {
        color: #464c5b; }
      .index-swiper-container .swiper-outer-trigger.next:before {
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-size: 30px; }

/* product */
.swiper-slide-product {
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px;
  color: #898989; }
  .swiper-slide-product .img-box {
    width: 100%;
    overflow: hidden; }
    .swiper-slide-product .img-box img {
      width: 100%; }
  .swiper-slide-product .product-title {
    padding: 5px 0px;
    margin-bottom: 5px;
    color: #454545;
    font-size: 16px;
    border-bottom: 1px solid #ccc; }
    .swiper-slide-product .product-title a {
      color: #454545; }
  .swiper-slide-product > p a {
    color: #657180; }

/* case */
.case-container {
  margin: 0px auto;
  max-width: 900px; }
  .case-container .case-item {
    text-align: center;
    padding: 10px; }
    .case-container .case-item img {
      width: 80px;
      height: 80px;
      padding: 10px; }
    .case-container .case-item .case-title {
      color: #454545; }
    .case-container .case-item .sub-title {
      color: #ababab; }

/* news */
.news-item {
  display: table;
  padding: 20px 40px; }
  .news-item > a > img {
    display: table-cell;
    vertical-align: top;
    width: 120px;
    height: 120px; }
  .news-item > div {
    display: table-cell;
    vertical-align: top;
    padding: 0px 10px; }
    .news-item > div > div {
      vertical-align: top;
      display: table; }
      .news-item > div > div .news-date {
        display: table-cell;
        box-sizing: border-box;
        padding: 5px;
        width: 50px;
        height: 50px;
        background: #09c;
        color: #FFF;
        text-align: center; }
        .news-item > div > div .news-date > div:last-child {
          border-top: 1px solid #FFF;
          padding-top: 5px;
          font-size: 10px; }
      .news-item > div > div .news-title {
        display: table-cell;
        padding: 0px 10px;
        color: #09c; }
    .news-item > div .news-digest {
      padding: 5px;
      font-size: 12px; }

.about-us {
  padding: 20px;
  background: #09c;
  color: #FFF;
  background-image: url(/img/demo/about-bg.png);
  background-size: cover; }
  .about-us .title {
    text-align: center;
    font-size: 22px; }
  .about-us .content {
    margin: 0px auto;
    max-width: 1200px;
    font-size: 14px;
    padding: 10px;
    text-indent: 28px; }
