<!-- top -->
<%include about-top.ejs %>

    <div class="about-container synopsis-container">
        <div class="synopsis-content">
            <%- globalParams.SYNOPSIS %>
        </div>
    </div>
    <div class="vision-wrapper">
        <div class="vision row">
            <div class="col-sm-4">
                <img src="/img/yuanjing.png" alt="">
                <h4>愿景</h4>
                <p><%= globalParams.VISION %></p>
            </div>
            <div class="col-sm-4">
                <img src="/img/wenhua.png" alt="">
                <h4>文化</h4>
                <p><%= globalParams.CULTURE %></p>
            </div>
            <div class="col-sm-4">
                <img src="/img/shiming.png" alt="">
                <h4>使命</h4>
                <p><%= globalParams.MISSION %></p>
            </div>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>