<!-- top -->
<%include about-top.ejs %>

    <div class="about-container recruit-container">
        <div class="recruit-content">
            <% for(var i=0; i<3; i++) { %>
                <div class="recruit-item row">
                    <div class="recruit-title col-md-2">JAVA工程师</div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <p class="recruit-sub-title">职位要求</p>
                        <div>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <p class="recruit-sub-title">岗位职责</p>
                        <div>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发<br>
                                1.熟悉SSH2框架开发
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>