<!-- top -->
<%include about-top.ejs %>

    <div class="about-container contact-container">
        <div class="contact-content row">
            <div class="col-md-6 col-sm-12">
                <div style="height:300px;">
                    <iframe src="/map.html" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                我给div标签加了一个css想让div标签里的文字垂直居中对齐，该怎么做？
                <div class="1_div ">知识天地</div> .1_div { font-size: 12px; font-weight: bold; color: #FF6600; text-indent: 10px; background-color:
                #DAEEF8; line-height: 24px;
            </div>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>