<!-- top -->
<%include about-top.ejs %>

    <div class="about-container progress-container" style="padding:20px 0px;">
        <div class="progress-content container-fluid row">
            <div class="col-xs-12 col-sm-7 progress-list">
                <%- globalParams.PROGRESS %>
            </div>
            <div class="col-sm-5 hidden-xs">
                <img src="/img/progress.png" alt="">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>