<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!-- style -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/swiper/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/img/banner/4.png" alt="">
        <!-- category -->
        <div class="plate-category">
            <ul class="collapse-category hidden-xs">
                <li>公司简介</li>
                <li>企业历程</li>
                <li>荣誉历程</li>
                <li>招贤纳士</li>
                <li>合作伙伴</li>
                <li>联系我们</li>
            </ul>
            <ul class="collapse-category visible-xs">
                <li>简介</li>
                <li>历程</li>
                <li>荣誉</li>
                <li>招贤</li>
                <li>伙伴</li>
                <li>联系我们</li>
            </ul>
        </div>