<!-- top -->
<%include about-top.ejs %>

    <div class="about-container contact-container">
        <div class="contact-content row">
            <div class="col-md-6 col-sm-12">
                <div style="height:300px;">
                    <iframe src="/map.html" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <%- globalParams.CONTACT_US %>
            </div>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>