<!-- top -->
<%include about-top.ejs %>

    <div class="about-container partner-container">
        <div class="partner-content row">
            <% for(var i=0; i<6; i++) { %>
                <div class="partner-item col-xs-6 col-sm-4">
                    <div class="partner-img">
                        <img src="/img/demo/products01.png" />
                    </div>
                    <p>高新技术企业认定证书</p>
                </div>
                <% } %>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>