<!-- top -->
<%include about-top.ejs %>

    <div class="about-container progress-container">
        <div class="progress-content container-fluid row">
            <div class="col-xs-12 col-sm-7 progress-list">
                <p>
                    <span>2003</span>
                    开始筹备西安软件
                </p>
                <p>
                    <span>2005</span>
                    由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf
                </p>
                <p>
                    <span>2006</span>
                    由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf
                </p>
                <p>
                    <span>2007</span>
                    由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf
                </p>
                <p>
                    <span>2008</span>
                    由于google 浏览器对中文支持不够好,在打印pdf 的时候内置的pdf
                </p>
            </div>
            <div class="col-sm-5 hidden-xs">


            </div>
        </div>
    </div>

    <!-- bottom -->
    <%include about-bottom.ejs %>