<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
    <link rel="stylesheet" href="/css/case-detail.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/upload/<%= globalParams.SUCCESSFULL_CASE_BANNER %>" alt="">
        <!-- category -->
        <div class="plate-breadcrumb">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/cases">成功案例</a>
                </li>
                <li>
                    <%= cases.title %>
                </li>
            </ul>
        </div>

        <!-- news -->
        <div class="case-detail-container">
            <div class="case-detail-content">
                <%- cases.content %>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

        <script src="/js/case-detail.js"></script>
</body>

</html>