<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
    <link rel="stylesheet" href="/css/case-detail.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/img/banner/4.png" alt="">
        <!-- category -->
        <div class="plate-breadcrumb">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/cases">成功案例</a>
                </li>
                <li>
                    <%= cases.title %>
                </li>
            </ul>
        </div>

        <!-- news -->
        <div class="case-detail-container">
            <div class="case-detail-content">
                <%- cases.content %>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

            <!-- jquery -->
            <script src="/vendor/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <!-- swiper -->
            <script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
            <!-- main -->
            <script src="/js/global.js"></script>
            <script src="/js/case-detail.js"></script>
</body>

</html>