

<!-- category -->
<div class="foot-category hidden-xs">
    <div class="row">
        <% for(var i=0; i<6; i++) { %>
            <div class="col-sm-2">
                <ul>
                    <li>产品与方案</li>
                    <li>国芳百货</li>
                    <li>国芳百货</li>
                    <li>国芳百货</li>
                    <li>国芳百货</li>
                    <li>国芳百货</li>
                </ul>
            </div>
            <% } %>
    </div>
</div>

<!-- copyright -->
<div class="copyright">
    <%- globalParams.COPYRIGHT %>
</div>