<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!-- style -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/swiper/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="/css/news.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/img/banner/4.png" alt="">
        <!-- category -->
        <div class="plate-category">
            <ul>
                <li>公司动态</li>
                <li>行业新闻</li>
            </ul>
        </div>

        <!-- news -->
        <div class="news-container">
            <% for(var i=0; i<6; i++) { %>
                <div class="news-item row">
                    <img class="col-xs-3" src="/img/demo/news03.png" alt="">
                    <div class="col-xs-9">
                        <div class="news-title">
                            恭贺四川德阳洋洋百货悦家店开业大吉
                        </div>
                        <div class="hidden-xs news-info">
                            2017-02-16
                        </div>
                        <div class="news-degist">
                            因对政府征地拆迁中的做法不满，山东省济宁市泗水县30名农民向作出批复的山东省政府申请行政复议，在省政府作出维持批复的决定后，他们又向国务院申请最终裁决。日前，国务院作出行政复议裁决，确认山东省政府在该征地项目中的批复违法
                        </div>
                        <div class="news-toolbar">
                            <div class="news-info-xs visible-xs pull-left">
                                2017-02-16
                            </div>
                            <button class="btn btn-warning hidden-xs pull-right">查看更多</button>
                            <button class="btn btn-xs btn-warning visible-xs pull-right">查看更多</button>
                        </div>
                    </div>
                </div>

                <% } %>
                    <nav aria-label="..." style="text-align:center;">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

            <!-- jquery -->
            <script src="/vendor/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <!-- swiper -->
            <script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
            <!-- main -->
            <script src="/js/global.js"></script>
            <script src="/js/news.js"></script>
</body>

</html>