<!-- top -->
<%include service-support-top.ejs %>

        <!-- news -->
        <div class="service-support-container row">
            <%- globalParams.SERVICE_SUPPORT_IMPLEMENTATION %>
        </div>

<!-- top -->
<%include service-support-bottom.ejs %>