<!-- top -->
<%include service-support-top.ejs %>

        <!-- news -->
        <div class="service-support-container row">
            <div class="col-sm-8">
                <div class="support-icon row">
                    <div class="col-xs-4">
                        <img src="/img/zhencheng.png" alt="">
                        <br> 真诚
                    </div>
                    <div class="col-xs-4">
                        <img src="/img/zhuanye.png" alt="">
                        <br> 专业
                    </div>
                    <div class="col-xs-4">
                        <img src="/img/xunsu.png" alt="">
                        <br> 高效
                    </div>
                </div>
                <div class="support-text">
                    <%- globalParams.SERVICE_SUPPORT_TEXT %>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="support-contact">
                    <div class="support-header"><img src="/img/dianhua.png" />服务热线</div>
                    <div class="support-phone"><a href="tel:<%=globalParams.SERVICE_SUPPORT_PHONE %>"><%=globalParams.SERVICE_SUPPORT_PHONE %></a></div>

                    <% for(var i=0,item; item=globalParams.SERVICE_SUPPORT_CODES.split(',')[i++]; ) { %>
                    <div class="support-code">
                        <img src="/upload/<%=item%>" alt="">
                        <br> 商通软件
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

<!-- top -->
<%include service-support-bottom.ejs %>